-f https://repo.radeon.com/rocm/manylinux/rocm-rel-6.1/
torch == 2.8.0
torchvision
optimum >= 1.19.0
accelerate
datasets
numpy
onnx
huggingface_hub
Pillow
opencv-python-headless
onnxruntime
transformers
diffusers
timm
soundfile
librosa
